.navBlock {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header {
    height: 80px;
    background-color: cadetblue;
    justify-content: flex-end;
}


