.contactsBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 80px;
}

.introText {
    font-size: 1.15rem;
    font-weight: 400;
    color: rgba(234, 234, 234, 0.7);
    width: 60%;
    text-align: center;
    opacity: 0.6;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 6rem 3rem;
    width: 80%;
    height: 100%;
}

.contactsBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}