.singleSkill {
    box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
    width: 140px;
    height: 140px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    transition: transform 300ms ease-in-out;
    background-color: rgb(255, 118, 77);
}

.singleSkill:hover {
    transform: scale(1.05) ;
}

.singleSkillContent {
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: rgb(234, 234, 234);
}


.icon {
    position: absolute;
    top: 5%;
    /* transform: translateY(-50%); */
}

.icon > svg {
    font-size: 2.1rem;
    /* color: #000000; */
}

.singleSkill:hover svg{
    animation: magic 0.8s ease-in-out both;
}

@keyframes magic {
    0%, 100%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(0,-6px);
    }
    50%{
        transform: translate(0,0px);
    }
    75%{
        transform: translate(0,-3px);
    }
}

.singleSkillContent > h3 {
    position: absolute;
    top: 60%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 110%;
    color: rgb(234, 234, 234);
}

@media screen and (max-width: 800px) {
    .single-service {
        width: 160px;
        height: 160px;
        padding: 1.2rem 1.2rem;
    }
    .service-icon > svg {
        font-size: 2.5rem;
    }

    .service-content > h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .single-service {
        width: 160px;
        height: 160px;
        padding: 1.2rem 1.2rem;
    }
    .service-icon > svg {
        font-size: 2.5rem;
    }

    .service-content > h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .singleSkill {
        width: 150px;
        height: 150px;
        padding: 1.2rem 1.2rem;
    }
    .icon > svg {
        font-size: 2.2rem;
    }

    .singleSkillContent > h3 {
        font-size: 13px;
        top: 50%;
    }
}
