$primaryOrange: rgb(245, 101, 57);
$secondaryOrange: rgb(255, 118, 77);
$thirdOrange: #f565394d;
$bgColor: rgb(33, 33, 33);
$textColor: rgba(234, 234, 234, 0.7);
$secondWhite: rgb(234, 234, 234);
$primaryFontFamily: 'Poppins', sans-serif;