.aboutBlock {
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineStyling {
    width: 80%;
    height: 15px;
    background-color: rgb(245, 101, 57);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stylCircle {
    background-color: ghostwhite;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.styleLine {
    background-color: black;
    height: 5px;
    width: 95%;
    border-radius: 5px;
}

.aboutBody {
    height: 100%;
    width: 80%;
    background-color: darkgrey;
    background-color: red;

}

.aboutContent{
    width: 80%;
    height: min-content;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.aboutDescription {
    background-color: olive;
    width: 300px;
}

.aboutPhoto {
    background-color: gray;
    height: 50px;
    width: 80px;
}






@media screen and (max-width: 650px){
    .styleLine {
        height: 3px;
    }
    .stylCircle {
        height: 7px;
        width: 7px;
    }
}

@media screen and (max-width: 600px){
    .styleLine {
        height: 3px;
        width: 93%;
    }
}