.skillsBlock {
    min-height: 100vh;
    background-color: rgb(33, 33, 33);
    padding-top: 100px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: bisque;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}