.mainBlock {
    height: 100vh;
    background-color: rgb(33, 33, 33);
}

.text {
    width: 300px;
    background-color: cadetblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: cadetblue;
}