.mainBlock {
    height: 100vh;
    background-color: burlywood;
}



.text {
    width: 300px;
    background-color: cadetblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: cadetblue;
}