.skillBox {
    background: rgb(33, 33, 33);
    box-shadow: rgb(245 101 57 / 30%) 0 0px 30px;
    border-radius: 10px;
    width: 110px;
    height: 110px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    transition: 300ms ease-in-out;
}

.skillIcon {
    font-size: 30px;
    border-radius: 7px;
    color: rgba(245, 101, 57, 0.45);
}

.skillBox h3 {
    font-family: "JetBrains Mono", monospace;
    color: rgba(245, 101, 57, 0.6);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
}

.skillBox:hover  {
    transform: scale(1.07);
    box-shadow: rgba(245, 101, 57, 0.6) 0 0px 20px;
}



.skillBox > img {
    height: 50px;
    pointer-events: none;
}