.header {
    background-color: rgba(33, 33, 33, 0.7);
    border-bottom: 1px solid #333333;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    .navBlock {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}




