.project {
    width: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(255, 118, 77);
    height: 450px;
    max-height: max-content;
    border-radius: 10px;
    margin: 10px;
}


.image  {
    width: 100%;
    min-height: 150px;
    background-color: rgb(255, 118, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
}


.openButton {
    border: 1px solid;
    margin: 0 auto;
    width: 30%;
    min-height: 25px;
    background-color: darkgray;
}

.projectTitle {
    font-family: 'Poppins', sans-serif;
    color: rgb(234, 234, 234);
    font-style: normal;
    font-weight: 500;
    font-size: 1.525rem;
    text-align: center;
    margin: 15px;
}


.description {
    color: rgb(234, 234, 234);
    background-color: rgb(33, 33, 33);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: 90px;
    font-weight: 200;
    font-size: 0.8rem;
    transform: translate(-13%, 40%);
    border-radius: 0px 10px 10px 0px;
}

.stack {
    background-color: rgb(33, 33, 33);
    color: rgb(234, 234, 234);
    bottom: 20px;
    right: 0;
    width: 140px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translate(59%, 80%);
    transition: transform 0.5s 0.3s;
    padding: 0.825rem;
}








