.nav {
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid;
    background-color: darkgray;
}