@import "src/common/styles/saas/variables";
@import "src/common/styles/saas/mixins";

.footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        @include text(500, 0.9rem);
        span {
            font-size: 1.1rem;
            color: $primaryOrange
        }
    }
}







