.footerBlock {
    height: 170px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
}

.footerContainer{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconsBlock {
    border: 1px solid;
    min-width: 260px;
    max-width: 800px;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.icon {
    background-color: burlywood;
    border: 1px solid;
    height: 50px;
    width: 50px;
}
