.skillsSliderBlock {
    border: 1px solid black;
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
}

.skillScroll {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.marquee {
    padding: 3rem 0;
}

