@import "src/common/styles/saas/variables";

.skillsSliderBlock {
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    .skillScroll {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .marquee {
        padding: 3rem 0;
    }
}
