@import "src/common/styles/saas/variables";

.projectsBlock {
  background-color: $bgColor;
  padding-top: 80px;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1143px) {
        justify-content: center;
      }
    }
  }
}




