.projectsBlock {
    min-height: max-content;
    background-color: burlywood;
}

.projectsContainer {
   flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: cadetblue;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
