.projectsBlock {
    height: 100vh;
    background-color: burlywood;
}

.projectsContainer {
   flex-direction: column;
    justify-content: flex-start;

}
.title {
    background-color: cadetblue;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}